<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Join Us Today <br />
            <span style="color: hsl(218, 81%, 75%)">and Advance Your Career</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Unlock exclusive tools and insights designed to take your business to the next level. 
            Whether you're just starting out or looking to scale, we're here to help you succeed every step of the way. 
            Join a community of thriving businesses and access personalized solutions tailored for you.
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">  
                      <label class="form-label" for="form3Example1">First name</label>
                      <input type="text" id="form3Example1" class="form-control" placeholder="first name" formControlName="firstName">
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="form3Example2">Last name</label>
                      <input type="text" id="form3Example2" class="form-control" placeholder="last name" formControlName="lastName"/>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                  <input type="email" id="form3Example3" class="form-control" placeholder="email@gmail.com" formControlName="email"/>
                </div>

                <!-- Country input Select-->
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Country</label>
                  <select id="form3Example4" class="form-control" formControlName="country">
                    <option value="" disabled selected>Select your country</option>
                    @for(country of countries; track country){
                      <option [value]="country">{{country}}</option>
                    }
                  </select>
              </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">  
                      <label class="form-label" for="form3Example5">Code</label>
                      <select id="form3Example5" class="form-control" formControlName="phoneCode">
                        <option value="" disabled selected>Select your Code</option>
                        @for(code of phoneCodes; track code){
                          <option [value]="code">{{code}}</option>
                        }
                        
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="form3Example6">Phone</label>
                      <input type="text" id="form3Example6" class="form-control" placeholder="phone" formControlName="phone"/>
                    </div>
                  </div>
                </div>

                <!-- gender input Select-->
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form3Example8">Gender</label>
                  <select id="form3Example8" class="form-control" formControlName="gender">
                    <option value="" disabled selected>Gender</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                  </select>
              </div>
  
                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example7">Password</label>
                  <input type="password" id="form3Example7" class="form-control" placeholder="password" formControlName="password"/>
                </div>
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>
  
                <!-- Submit button -->
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
